<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar</title>
</head>
<body>
    <h1>¿Realmente quieres eliminar el registro de: </h1>
    <h2>
        {{ object }}
        
        <form method="POST">
            {% csrf_token %}
            <input type="submit" value="Confirmar"> </input>
            
        </form>

    </h2>
</body>
</html>